<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.openedge.pdt.core.preferencePage"
            name="Perspective Switcher"
            class="com.wrpkm.openedge.perspectiveswitcher.preferences.PreferencePage"
            id="com.wrpkm.openedge.perspectiveswitcher.preferences.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.wrpkm.openedge.perspectiveswitcher.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
         <startup class="com.wrpkm.openedge.perspectiveswitcher.Startup" />
   </extension>

</plugin>
